body {
  font-family: Arial, sans-serif;
  background-color: #e6bdbc;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Add styles for the navbar */
.navbar {
  background-color: #333;
  color: white;
  padding: 15px;
}

/* Style the navigation links */
.nav-link {
  color: white;
  margin-right: 15px;
}
